<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>

  <body>
    <div id="app">
        <table class="table stripped ">
          <thead>
            <th>Nombre</th>
            <th>Edad</th>
          </thead>
          <tbody v-for="usuario in usuarios">
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.edad}}</td>
          </tbody>
        </table>
        <h5 v-if="usuarios[0].edad > usuarios[1].edad"> {{usuarios[0].nombre}} es mayor que {{usuarios[1].nombre}}</h5>
        <h5 v-else-if="usuarios[0].edad < usuarios[1].edad">{{usuarios[0].nombre}} es menor que {{usuarios[1].nombre}}</h5>
        <h5 v-else>{{usuarios[0].nombre}} tiene la misma edad {{usuarios[1].nombre}}</h5>
    </div>
    <script src="https://unpkg.com/vue@3"></script>

    <script>
      const app = {
        data(){
          return{
            usuarios: [{nombre: 'Gerson', edad:19}, {nombre: 'Carolina', edad:19}]
          }
          
        },
        methods:{
            
        },
        mounted(){
          
        }
      }
      
      var mountedApp = Vue.createApp(app).mount('#app')
    </script>
  </body>
</html>